.about .container{
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 59%, rgba(0,0,0,0.8) 100%), url('../img/4.jpg') no-repeat;
    border-radius: 15px;
    padding: 6rem 4rem;
    background-position: center;
    background-size: cover;
}

.about .container .box{
    width: 40%;
}

.about .container .box .title, .about .container .box .caption{
    color: #fff;
}

.about .container .box .title{
    font-size: 3rem;
    font-weight: 500;
}

.about .container .box .read-more{
    border:none;
    background: white;
    border-radius: 5px;
    padding: .5rem 1rem;
    font-weight: 600;
}