.testimonials .container .box{
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.testimonials .container .box .testimonial-wrapper{
    width:95%;
    overflow: hidden;
    display: block;
    position: relative;
    min-height: 180px;
}

.testimonials .container .box .testimonial-wrapper .testimonial{
    transform:translateY(100%);
    opacity: 0;
    transition:1s;
    position: absolute;
    top:0;
    left:0;
}

.testimonials .container .box .testimonial-wrapper .testimonial.down{
    transform:translateY(100%);
}
.testimonials .container .box .testimonial-wrapper .testimonial.up{
    transform:translateY(-100%);
}

.testimonials .container .box .testimonial-wrapper .testimonial.active{
    transform: translateY(0%);
    opacity: 1;
}

.testimonials .container .box .pagination{
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    
}

.testimonials .container .box .pagination .round{
    width:13px;
    height: 13px;
    border:2px solid #38A169;
    border-radius: 50%;
    margin: .8rem 0;
    cursor: pointer;
    transition: .3s;
}

.testimonials .container .box .pagination .round.active{
    background: #38A169;
}

.testimonials .container .box .pagination .round:hover{
    background: #38A169;
}